* {
  margin: 0;
  padding: 0;
  font-family: "Arial, sans-serif";
  font-weight: 600;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* login and registration component */
.auth {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: teal;
  padding: 20px;
}

.auth h1 {
  font-size: 35px;
  color: rgb(15, 48, 214);
  background-color: rgb(51, 225, 135);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  width: 200px;
  gap: 20px;
  border-radius: 5px;
}

.auth input {
  font-size: 25px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid gray;
  border-color: aquamarine;
}

.auth button {
  background-color: #3498db;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
}

.auth p {
  font-size: 20px;
  text-align: center;
}

.auth span {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
}

/* navbar */
.navbar {
}
.navbar .container {
  background-color: teal;
  padding: 5px 10px;
  /* padding: 10px 0px; */
  display: flex;
  justify-content: space-between;
}

/* .navbar .logo img {
  width: 125px;
  border-radius: 50%;
} */
/* .navbar .logo {
} */

.navbar .links {
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar .links h6 {
  color: black;
  font-size: 150%;
  font-weight: 600;
}

.navbar span {
  cursor: pointer;
}

.navbar .write {
  padding: 2px;
  /* background-color: greenyellow; */
  /* width: 90px; */
  /* height: 65px; */
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.navbar .write:hover {
  background-color: rgb(0, 255, 0);
}
.navbar h6:hover {
  background-color: green;
}

.user-info {
  /* border: 2px solid red; */
  text-align: center;
  text-decoration: underline;
  margin: 10px;
  background-color: #3498db;
  padding: 5px;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  p{
    font-size: medium;
  }
}

.darkmode {
  padding: 5px;
  font-size: 35px;
  border-radius: 10%;
  background-color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  /* color: white; */
}

/* footer */

.Footer .container {
  /* position: fixed;
  bottom: 0;
  right : 0;
  left:0; */
  background-color: teal;
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 40px;
}
.Footer .logo img {
  width: 120px;
  /* border-radius: 50%; */
}

/* posts content */

.home {
}

.posts {
  padding-left: 40px;
  /* padding-right: auto; */
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.posts .post {
  background-color: #bec9f0;
  display: flex;
  gap: 10px;
  padding: 5px;
  /* border-radius: 2%; */
  max-width: 85%;
}

.post:nth-child(2n) {
  flex-direction: row-reverse;
  /* border: 6px solid red; */
}

.posts .post .img {
  /* flex: 1; */
  position: relative;
}

.posts .post img {
  width: 250px;
  height: 250px;
  /* object-fit: cover; */
  border: 6px solid teal;
  border-radius: 5%;
}

.posts .post .content {
  /* border: 1px solid rgb(240, 33, 240); */
  /* border-radius: 2%; */
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid red; */
  width: 100%;

}

.posts .post button {
  background-color: #3498db;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
}

/* single */

.single {
  justify-content: space-between;
  /* justify-content:space-evenly; */
  padding: 0 25px;
  margin-top: 15px;
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.single .current-post {
  max-width: 75%;
  /* border: 2px solid red; */
}

.content img {
  /* width: 105%; */
  width: 250px;
  /* height: 25%; */
  /* object-fit: cover; */
  width: 80%;
  height: 55vh;
  margin-bottom: 15px;
  border: 4px solid rgb(236, 218, 218);
}

.single .current-post .user {
  background-color: lightgreen;
  padding: 10px;
  margin: 10px;
  display: flex;
  max-width: fit-content;
  border-radius: 20px;
  /* align-items: center; */
  gap: 10px;
  font-weight: 600;
  /* font-size: 14px; */
}

.single .current-post .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.single .current-post .info {
  /* border: 1px solid black; */
}
.single .current-post .user span {
  font-weight: bold;
}
.single .current-post .edit {
  display: flex;
  padding: 5px;
  gap: 10px;
  background-color: rgb(15, 228, 72);
  height: 25px;
  width: fit-content;
  border-radius:10px ;
}
.single .current-post .edit img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.single .current-post .post-content {
  padding-right: 20vw;
  gap: 5px;
}
.single .current-post .post-content p {
  font-size: larger;
  font-weight: 500;
  text-align: justify;
}

/* menu */
.menu {
  padding: 10px;
  border: 5px solid teal;
  border-style: double;
  /* flex:5; */
  width: 550px;
  background-color: rgba(92, 148, 220, 0.581);
  height: fit-content;
  /* margin-left: 15px; */
  /* width: 400px; */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.menu h1 {
  font-size: 20px;
}

.menu .post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu .post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.menu .post button {
  background-color: #3498db;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* write */

.add {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.add .content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.add input {
  padding: 10px;
  border: 1 px solid lightgray;
}

.add .editorContainer {
  height: 400px;
  overflow: scroll;
}

.add .editorContainer .editor {
  height: 100%;
  border: none;
}
.add .menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 10px solid rgba(0, 128, 0, 0.441);
}
.add .menu .item {
  text-align: center;
  gap: 5px;
  background-color: lightgray;
  border: 2 px solid black;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
}
.add .menu .item h1 {
  font-size: 25px;
  font-style: italic;
}
.add .menu .item .file {
  text-decoration: underline;
  cursor: pointer;
}
.add .menu .item .buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  font-size: 15px;
  background-color: #3498db;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
}

.add .menu .item .cat {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 2px;
}

.item span {
  font-size: 20px;
}
